<section class="p-4 rounded my-3 w-100 mx-auto ">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content " style="display: flex;">
        <div class="signin-image w-75">
          <figure style=" width:100%;">
            <img src="../../../../../../assets/images/Company/health.jpeg" alt="sing up image">
          </figure>
        </div>

        <div class="signin-form">
          <form [formGroup]="Edithealthform" (ngSubmit)="EditHealth()">
            <div class="mb-2">
              <label for="yearlyCoverage">Yearly Coverage</label>
              <input formControlName="yearlyCoverage" min="0" id="yearlyCoverage" type="number" class="form-control">
              <div
                *ngIf="Edithealthform.get('yearlyCoverage')?.errors && Edithealthform.get('yearlyCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('yearlyCoverage')?.getError('required')">Yearly
                  Coverage is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('yearlyCoverage')?.getError('min')">Minimum Value is
                  Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('yearlyCoverage')?.getError('max')">Maximum Value is
                  1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Insurance Level</label>
              <select formControlName="level" class="form-control">
                <option [value]="InsurancePlanLevel.Basic">Basic</option>
                <option [value]="InsurancePlanLevel.Standard">Standard</option>
                <option [value]="InsurancePlanLevel.Premium">Premium</option>
              </select>
              <div *ngIf="Edithealthform.get('level')?.errors && Edithealthform.get('level')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('level')?.getError('required')">Insurance Level is
                  required</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Quotation</label>
              <input formControlName="quotation" min="0" type="number" class="form-control">
              <div *ngIf="Edithealthform.get('quotation')?.errors && Edithealthform.get('quotation')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('quotation')?.getError('required')">Quotation is
                  required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('quotation')?.getError('min')">Minimum Value is
                  Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('quotation')?.getError('max')">Maximum Value is
                  1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Medical Network</label>
              <input formControlName="medicalNetwork" min="0" type="text" class="form-control">
              <div *ngIf="Edithealthform.get('medicalNetwork')?.errors&& Edithealthform.get('medicalNetwork')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('medicalNetwork')?.getError('required')">Medical
                  Network is
                  required</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Clinics Coverage</label>
              <input formControlName="clinicsCoverage" min="0" type="number" class="form-control">
              <div
                *ngIf="Edithealthform.get('clinicsCoverage')?.errors&& Edithealthform.get('clinicsCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('clinicsCoverage')?.getError('required')">Clinics
                  Coverage
                  is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('clinicsCoverage')?.getError('min')">Minimun Value
                  is
                  Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('clinicsCoverage')?.getError('max')">Maximum Value
                  is
                  1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Hospitalization and Surgery</label>
              <input formControlName="hospitalizationAndSurgery" min="0" type="number" class="form-control">
              <div
                *ngIf="Edithealthform.get('hospitalizationAndSurgery')?.errors&& Edithealthform.get('hospitalizationAndSurgery')?.touched">
                <span style="color: red;"
                  *ngIf="Edithealthform.get('hospitalizationAndSurgery')?.getError('required')">Hospitalization
                  And Surgery is required</span>
                <span style="color: red;"
                  *ngIf="Edithealthform.get('hospitalizationAndSurgery')?.getError('min')">Minimun
                  Value is Zero</span>
                <span style="color: red;"
                  *ngIf="Edithealthform.get('hospitalizationAndSurgery')?.getError('max')">Maximum
                  Value is 1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Optical Coverage</label>
              <input formControlName="opticalCoverage" min="0" type="number" class="form-control">
              <div
                *ngIf="Edithealthform.get('opticalCoverage')?.errors&& Edithealthform.get('opticalCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('opticalCoverage')?.getError('required')">Optical
                  Coverage
                  is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('opticalCoverage')?.getError('min')">Minimun Value
                  is
                  Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('opticalCoverage')?.getError('max')">Maximum Value
                  is
                  1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Dental Coverage</label>
              <input formControlName="dentalCoverage" min="0" type="number" class="form-control">
              <div *ngIf="Edithealthform.get('dentalCoverage')?.errors&& Edithealthform.get('dentalCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('dentalCoverage')?.getError('required')">Dental
                  Coverage is
                  required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('dentalCoverage')?.getError('min')">Minimun Value is
                  Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('dentalCoverage')?.getError('max')">Maximum Value is
                  1.7976931348623157e+308</span>
              </div>
            </div>
            <button [disabled]="Edithealthform.invalid" type="submit"
              class="btn btn-success d-block ms-auto">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <p-toast/>
</section>