<app-header />
<section class="page_success">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12 text-center">
          <div class="success_bg">
            <img src="../../../../assets/images/successvideo-ezgif.com-effects.gif" alt="Success Animation"
              id="bgImage">
          </div>
          <div class="animated_text">
            <h1>Congratulation</h1>
            <h3>Your operation was successful</h3>
          </div>
          <div class="content_box_success">

            <p-button routerLink="/">Go to Home</p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer />
