<app-header/>
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12  text-center">
                    <div class="four_zero_four_bg">


                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>

                        <p>the page you are looking for not avaible!</p>

                        <p-button routerLink="/" >Go to Home</p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>