.active-button {
    background-color: #007bff !important; 
    color: white !important; 
    width: 30px;
    display: flex;
    gap: 10px   !important;

  }


  .center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#e8f5e9;
    padding: 20px;
    width: 100%; 
    max-width: 900px; 
  }
.image{
  height: 250px;
}
h3{
 text-align: center;
 padding: 30px;
 color: #103e13;
}
