<div class="container toolbar-padding">
  <header class="toolbar">
      <nav class="navigation">
          <div>
              <a href="https://www.amenli.com/#/" target="_" class="d-flex">
                  <img src="https://www.yourwebsite.com/path/to/your/logo.svg" alt="logo" class="logo">
              </a>
          </div>
          <div class="spacer"></div>
          <div class="navigation-items">
              <ul>
                  <li>
                      <a href="/">
                          <img src="https://www.yourwebsite.com/path/to/reload.svg" alt="reload">
                      </a>
                  </li>
                  <li>
                      <img src="https://www.yourwebsite.com/path/to/arabic.svg" class="langImg" alt="arabic">
                  </li>
              </ul>
          </div>
      </nav>
  </header>
</div>
