<app-sidenav></app-sidenav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav container w-50 text-center" style="display: flex;justify-content: center;">
          <li class="nav-item m-2">
            <a class="nav-link active" aria-current="page" routerLink="/insurancecollection/homeinsurance" routerLinkActive="active">
              <img src="../../../../../assets/images/Company/home.jpeg" style="width: 77px;" alt="Home Insurance image">
              <br>
              <br>
              HomeInsurance
            </a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link" routerLink="/insurancecollection/healthinsurance" routerLinkActive="active">
              <img src="../../../../../assets/images/Company/health.jpeg" style="width: 50px;" alt="Health Insurance image">
              <br>
              <br>
              HealthInsurance
            </a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link" routerLink="/insurancecollection/motorinsurance" routerLinkActive="active">
              <img src="../../../../../assets/images/Company/motor.jpeg" style="width: 50px;" alt="Motor Insurance image">
              <br>
              <br>
              MotorInsurance
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  