.card {
    margin-left: 42px;
    padding: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: auto;
}

@media (max-width: 1200px) {
    .card {
        margin-left: 30px; 
        height: 97vh; 
    }
}

@media (max-width: 992px) {
    .card {
        margin-left: 20px; 
        height: 96vh; 
        background-color: red;
    }
}

@media (max-width: 768px) {
    .card {
        margin-left: 10px; 
        height: auto; 
    }
}

@media (max-width: 576px) {
    .card {
        margin-left: 0; 
        margin-right: 0; 
        padding: 10px; 
        height: auto; 
    }
}

h2 {
    color: #0a3b1d;
    padding: 10px;
}
