/* Custom styles for your component */
.table th,
.table td {
  vertical-align: middle;
}

.table th {
    min-width: 5rem;
  }

.text-success {
  color: #28a745 !important;
}

.text-danger {
  color: #dc3545 !important;
}
