<div class="users-list-container xl:flex xl:justify-content-center" style="text-align: center; background-color: white;">
  <h2>Users List</h2>
  
  <!-- Search Bar -->
  <div class="search-bar" style="margin-bottom: 20px;">
    <input type="text" [(ngModel)]="searchQuery" (input)="filterUsers()" placeholder="Search users..." style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
  </div>
  
  <div *ngIf="filteredUsersList && filteredUsersList.length > 0; else noUsers" class="overflow-auto card">
    <div *ngFor="let user of filteredUsersList" class="user-item border-bottom">
      <div class="row">
        <div class="col-1 d-flex align-items-center justify-content-center">
          <i class="pi pi-download" style="font-size: 1.5rem; color: green;"></i>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="user-avatar rounded-circle text-white d-flex justify-content-center align-items-center">
            {{ user.name.charAt(0).toUpperCase() }}
          </div>
        </div>
        <div class="col">
          <div class="font-bold">{{ user.name }}</div>
          <div class="d-flex align-items-center gap-2">
            <i class="pi pi-tag text-sm"></i>
            <span>{{ user.email }}</span>
          </div>
          <div class="font-bold text-900">{{ user.phone }}</div>
        </div>
      </div>
    </div>
  </div>
  

  <ng-template #noUsers>
    <div class="no-users flex justify-content-center align-items-center">
      <img src="../../../../../assets/images/Company/Empty.gif" alt="No Users" />
    </div>
  </ng-template>
</div>