.users-list-container {
    padding: 10px;
    max-height: 91vh;
  }
  
  h2 {
    color: #0a3b1d;
    padding: 10px;
  }
  
  .card {
    padding: 15px;
    width: 100%;
    max-height: 75%;
    /* border: 2px solid green; */
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  
  .user-avatar {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: #a0e6ba;
    border: 1px solid green;
  }
  
  .user-details {
    margin-left: 1rem;
  }
  
  .no-users {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
  }
  
  .no-users img {
    width: 100%;
    max-width: 400px;
  }
  

  .search-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .search-input:focus {
    border-color: green;
    box-shadow: 0 0 10px rgb(170, 231, 170);
    outline: none;
  }
  
  .user-item {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s;
    width: 100%;
  }
  
  .user-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .user-avatar div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
  }
  
  .pi-download {
    cursor: pointer;
  }
  .pi-file-pdf
  {
    cursor: pointer;
  }
 