<div class="surface-0 flex justify-content-center">
  <div id="home" class="landing-wrapper overflow-hidden">
    <div
      class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3"
    >
      <div id="pricing" class="py-4 px-4 lg:px-8 my-2 md:my-4">
        <div class="text-center">
          <h2 class="text-900 font-normal mb-2">Insurance Plans</h2>
          <span class="text-400 text-2xl">Insurance Is The Foundation For Building a Secure Future</span>
        </div>

        <div class="grid justify-content-between mt-8 md:mt-0">
          <div class="col-12 lg:col-4 p-0 md:p-3">
            <div
              class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 hover:border-primary transition-duration-300 transition-all"
              style="border-radius: 10px"
            >
              <h3 class="text-900 text-center my-5">Home Insurance</h3>
              <img
                src="assets/demo/images/landing/Home.svg"
                class="w-10 h-10 mx-auto"
                alt="Home"
              />
              <div class="my-5 text-center">

                

                <button
                  pButton
                  pRipple
                  label="Get Info"
                  class="buttonColor block mx-auto mt-4 p-button-rounded border-none ml-3 font-light line-height-2 bg-500 text-white"
                  style="background-color: #1b5e1f ;"
                  (click)="showHomeInsurance()"
                ></button>
              </div>
            </div>
          </div>

          <div class="col-12 lg:col-4 p-0 md:p-3 mt-4 md:mt-0">
            <div
              class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 hover:border-primary transition-duration-300 transition-all"
              style="border-radius: 10px"
            >
              <h3 class="text-900 text-center my-5">Health Insurance</h3>
              <img
                src="assets/demo/images/landing/Health.svg"

                class="w-10 h-10 mx-auto"
                alt="Health"
              />
              <div class="my-5 text-center">

              
                <button
                  pButton
                  (click)="showHealthInsurance()"
                  pRipple
                  label="Get Info"
                  class="buttonColor block mx-auto mt-4 p-button-rounded border-none ml-3 font-light line-height-2 bg-500 text-white"
                  style="background-color: #1b5e1f ;"
                  ></button>
              </div>
            </div>
          </div>

          <div class="col-12 lg:col-4 p-0 md:p-3 mt-4 md:mt-0">
            <div
              class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 hover:border-primary transition-duration-300 transition-all"
              style="border-radius: 10px"
            >
              <h3 class="text-900 text-center my-5">Motor Insurance</h3>
              <img
                src="assets/demo/images/landing/Motor.svg"
                class="w-10 h-10 mx-auto"
                alt="Motor"
              />
              <div class="my-5 text-center">

               
                <button
                  pButton
                  pRipple
                  label="Get Info"
                  class="buttonColor block mx-auto mt-4 p-button-rounded border-none ml-3 font-light line-height-2 bg-500 text-white"
                  style="background-color: #1b5e1f ;"
                  (click)="showMotorInsurance()"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>