<app-header/>
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link ms-0" routerLink="/userProfile/profile" routerLinkActive="active">Profile</a>
        <a class="nav-link" routerLink="/userProfile/billing" routerLinkActive="active">Billing</a>
        <a class="nav-link" routerLink="/userProfile/plans" routerLinkActive="active">Security</a>
    </nav>
    <hr class="mt-0 mb-4">
    <router-outlet></router-outlet>
  </div>
  