<div class="container d-flex justify-content-center">
  <div id="home" class="landing-wrapper overflow-hidden" [ngClass]="{'blur-background': visible}">
    <div id="pricing" class="py-4 px-4 lg:px-8 my-2 md:my-4">
      <div class="text-center">
        <!-- <h2 class="text-900 font-normal mb-2">Insurance Plan For</h2> -->
      </div>

      <div class="row">
        <div class="col-md-4 p-0 md:p-3" 
             *ngFor="let company of companies; let companyIndex = index" 
             (mouseenter)="hoverIndex = companyIndex" 
             (mouseleave)="hoverIndex = null"
             [ngClass]="{'hovered': hoverIndex === companyIndex, 'blurred': hoverIndex !== null && hoverIndex !== companyIndex}">
          <div class="p-3 d-flex flex-column border border-2 hover-shadow transition-all" style="border-radius: 10px; cursor: pointer;">
            <h3 class="text-center my-5">{{ company.name }}</h3>
          </div>
        </div>
      </div>

      <div class="row justify-content-between mt-8 md:mt-0">
        <div class="col-12 col-lg-4 " 
             *ngFor="let Insurance of insurancePlans; let insuranceIndex = index"
             (mouseenter)="hoverIndex = insuranceIndex" 
             (mouseleave)="hoverIndex = null"
             [ngClass]="{'hovered': hoverIndex === insuranceIndex, 'blurred': hoverIndex !== null && hoverIndex !== insuranceIndex}">
          <div class="p-3 d-flex flex-column border border-2 hover-shadow transition-all" style="border-radius: 10px; cursor: pointer;">
            <h3 class="text-center my-5">{{ Insurance.insurancePlan.categoryName }}</h3>
            <h3 class="text-center my-5">Level: {{ Insurance.insurancePlan.level }}</h3>
            <h3 class="text-center my-5">Quotation: {{ Insurance.insurancePlan.quotation }}</h3>
            <div class="my-5 text-center">
              <span class="text-muted">Number Of Users:</span>
              <span class="h1 font-weight-bold mr-2">{{ Insurance.usernames.length }}</span> <br>
              <button pButton pRipple class="btn btn-success mt-4" (click)="showUserInfo(insuranceIndex)">User Info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="visible">
  <ng-template pTemplate="headless">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <button type="button" class="btn btn-link text-success" (click)="visible = false">
        <i class="pi pi-times"></i>
      </button>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <div class="w-100 bg-white py-8 px-5 sm:px-8 d-flex flex-column align-items-center" style="border-radius: 53px;">
        <span class="text-muted font-weight-bold h3">Total Users:</span>
        <h1 class="font-weight-bold h3 mb-2">{{ totalUsers }}</h1>
        <div class="text-muted font-weight-bold h3 mb-2">Users:</div>
        <div *ngFor="let user of users">
          <a class="w-100 d-flex align-items-center py-5 border-bottom" style="border-bottom-color: #e9ecef;">
            <span class="d-flex justify-content-center align-items-center rounded-circle" style="background-color: #c8e6c9; height: 3.5rem; width: 3.5rem;"></span>
            <span class="ml-4 d-flex flex-column">
              <span class="text-dark h5 mb-0">{{ user }}</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
