@if (data == null || data.length == 0) {
  <app-no-insurance-plane />
} @else {
  <app-header />
  <div class="container">
    <div class="row m-auto">
      <div class="d-flex flex-column gap-5 m-auto justify-content-center">
        @for (level of [0, 1, 2]; track $index) { <!-- Iterate through each level -->
          <div class="level-section m-auto">
            <h3>{{ level == 0 ? "Basic" : (level==1? "Standard": (level ==2 ? "Premium":"null")) }}</h3>
            <div class="d-flex gap-3 flex-row flex-wrap">
              @for (insurance of data; track $index) {
                @if (insurance.level == level) {
                  <app-insurance-plan-card
                    [plan]="insurance"
                    [catId]="catId"
                    [badgeColor]="getBadgeColor(insurance.company)"
                  ></app-insurance-plan-card>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
