@if (data == null || data.length == 0) {
    <app-no-insurance-plane/>
}@else {
    <app-header/>
    <div class="container">
        <div class="row  m-auto">
            <div class=" d-flex gap-5  m-auto justify-content-center flex-wrap">
                
                @for (insurance of data; track $index) {
                    @if(catId == 2){
                    <app-home-plan-card [data]="insurance"></app-home-plan-card>
                    }
                    @else if (catId == 1) {
                    <app-health-plan-card [data]="insurance"></app-health-plan-card>
                    }
                    @else{
                    <app-motor-plan-card [data]="insurance"></app-motor-plan-card>
                    }
                }
            </div>
        </div>
    </div>
}