<div class="container">
	
	<div class="screen">
		<div class="screen__content">
			<form [formGroup]="Loginform"  class="login" (ngSubmit)="login()">
				<div class="login__field">
					<img src="../../../assets/icons/mail.png" style="width: 20px; height: 20px; ">
					<input formControlName="Email" type="text" class="login__input" placeholder=" Email">
				</div>
				<div class="login__field">
					<img src="../../../assets/icons/password.png" style="width: 20px; height: 20px; ">
					<input formControlName="Password" type="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div id="google-btn">

				</div>
				<a style="margin-top: 15px;" [routerLink]="['/forgetpassword']">Forgot Password</a>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
