<!-- <div class="container mt-5">
  <h1 class="mb-4">Register Form</h1>
  <p-toast></p-toast>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="name">Name:</label>
      <input id="name" type="text" pInputText formControlName="name" class="form-control" required>
      <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
        Name is required.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="userName">User Name:</label>
      <input id="userName" type="text" pInputText formControlName="userName" class="form-control" required>
      <div *ngIf="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched" class="text-danger">
        <div *ngIf="registerForm.get('userName')?.errors?.['required']">
          User Name is required.
        </div>
        <div *ngIf="registerForm.get('userName')?.errors?.['usernameTaken']">
          User Name must be unique.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="emailAddress">Email Address:</label>
      <input id="emailAddress" type="email" pInputText formControlName="emailAddress" class="form-control" required>
      <div *ngIf="registerForm.get('emailAddress')?.invalid && registerForm.get('emailAddress')?.touched"
        class="text-danger">
        <div *ngIf="registerForm.get('emailAddress')?.errors?.['required']">
          Valid Email Address is required.
        </div>
        <div *ngIf="registerForm.get('emailAddress')?.errors?.['email']">
          Email Address is invalid.
        </div>
        <div *ngIf="registerForm.get('emailAddress')?.errors?.['emailTaken']">
          Email Address must be unique.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="nationalId">
        <i class="pi pi-id-card"></i> National ID:
      </label>
      <p-inputMask id="nationalId" formControlName="nationalId" mask="99999999999999" class="form-control"
        required></p-inputMask>
      <div *ngIf="registerForm.get('nationalId')?.invalid && registerForm.get('nationalId')?.touched"
        class="text-danger">
        <div *ngIf="registerForm.get('nationalId')?.errors?.['required']">
          National ID is required.
        </div>
        <div *ngIf="registerForm.get('nationalId')?.errors?.['pattern']">
          National ID must be exactly 14 digits.
        </div>


      </div>


      <div class="form-group mb-3">
        <label for="password">
          <i class="pi pi-lock"></i> Password:
        </label>
        <p-password id="password" formControlName="password" [toggleMask]="true" class="form-control"
          required></p-password>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters.
          </div>
          <div *ngIf="registerForm.get('password')?.errors?.['passwordStrength']">
            Password must contain an uppercase letter, a number, and a special character.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="taxNumber">
          <i class="pi pi-id-card"></i> Tax Number:
        </label>
        <p-inputMask id="taxNumber" formControlName="taxNumber" mask="999999999" class="form-control"
          required></p-inputMask>
        <div *ngIf="registerForm.get('taxNumber')?.invalid && registerForm.get('taxNumber')?.touched"
          class="text-danger">
          <div *ngIf="registerForm.get('taxNumber')?.errors?.['required']">
            Tax Number is required.
          </div>
          <div *ngIf="registerForm.get('taxNumber')?.errors?.['pattern']">
            Tax Number must be exactly 9 digits.
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="phoneNumber">
          <i class="pi pi-phone"></i> Phone Number:
        </label>
        <p-inputMask id="phoneNumber" formControlName="phoneNumber" mask="99999999999" class="form-control"
          required></p-inputMask>
        <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched"
          class="text-danger">
          <div *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">
            Phone Number is required.
          </div>
          <div *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">
            Phone Number must start with 011, 012, or 010 and be exactly 11 digits.
          </div>
        </div>
      </div>

      <button type="submit" pButton label="Register" class="p-button-success btn btn-success"
        [disabled]="registerForm.invalid"></button>
  </form>
</div> -->