<div class="containerr">
    <div class="row d-flex justify-content-evenly">
        <div class="col col-12 col-sm-6 col-lg-3  align-content-center mb-3" id="nrequest">
            Requests<br><br>{{this.RequestNumber}}
        </div>
        <div class="col col-12 col-sm-6 col-lg-3  align-content-center mb-3" id="nmotor">
            Motor Insurance<br><br>{{this.MotorNumber}}
        </div>
        <div class="col col-12 col-sm-6 col-lg-3  align-content-center mb-3" id="nhome">
            Home Insurance<br><br>{{this.HomeNumber}}
        </div>
        <div class=" col col-12 col-sm-6 col-lg-3  align-content-center mb-3" id="nhealth">
            Health Insurance<br><br>{{this.HealthNumber}}
        </div>
    </div>
</div>
