<app-header/>
<div class="main-container d-inline-flex align-items-center justify-content-center">
    <div class="wrapper p-5 rounded-5">
        <nav class="shelf">
            <a routerLink="/" class="book home-page">Home page</a>
            <a routerLink="/apply-for-insuranceV2" class="book about-us">Apply again</a>
            <a routerLink="/allarticles" class="book contact">Articles</a>
            <a routerLink="/faqs" class="book faq">F.A.Q.</a>
        
            <span class="book not-found"></span>
        
            <span class="door left"></span>
            <span class="door right"></span>
        </nav>
        <h3 class="text-white text-center pt-3 d-blo">Oops! 🙈 The insurance plan you're looking for can't be found.</h3>
    </div>
</div>