  <!-- about me section -->
  <section  id="about">
    <div class="about"> 
      <h2>About Me</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
        consectetur quas iure tempora, magnam aliquid voluptatum sit,
        voluptates odit alias veniam quos sapiente cupiditate itaque.
        Voluptatum sint corrupti enim ab!
      </p>
    </div>

    <!-- about details -->
    <div class="container">
      <!-- left side -->
      <div class="left-side">
        <img src="img/woman.jpg" alt="" />
      </div>
      <!-- right side -->
      <div class="right-side">
        <h2>So, Who Am I?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
          aliquid quia similique, ex obcaecati dolore reiciendis vel enim
          corrupti nihil dolor labore maiores aliquam fugit debitis officia
          minima rerum consequatur?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt
          sapiente ipsa sequi deserunt dolorum saepe voluptatibus consectetur
          excepturi nobis quidem voluptate repellendus, cum corrupti mollitia
          est asperiores quas sit veniam?
        </p>
        <button class="btn">Contact me</button>
      </div>
    </div>
  </section>