
/* about styles */
.about{
    padding: 100px 0;
    text-align: center;
    width: 78%;
    margin: 0 auto;
}

.about h2{
    font-size: 2.5em;
}

.about p, .right-side p{
    font-size: 1.2em;
    color: rgb(59, 61, 62);
    line-height: 1.67rem;
    padding-top: 20px;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.left-side,.right-side {
    width: 50%;
    margin: 20px 0;
}

.left-side img{
    width: 90%;
    /* height: 500px; */
    border-radius: 4px;
    /* background-position: center center; */
    object-fit: cover;
}

.right-side .btn{
    margin-top: 20px;
}

/* Media Quary */
@media screen and (max-width: 576px) {
    .about{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .left-side, .right-side{
        width: 100%;
    }
}