 <!-- Service section -->
 <section  id="services">
  <div class="about">
    <h2>Our Services</h2>
  </div>

  <div class="services">
    <div class="service-card">
      <div class="number">01</div>
      <div class="service-text">
        <h3>First Service</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Blanditiis asperiores repudiandae, tenetur voluptatibus nobis
          dolores.
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="service-card">
      <div class="number">02</div>
      <div class="service-text">
        <h3>Second Service</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Blanditiis asperiores repudiandae, tenetur voluptatibus nobis
          dolores.
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="service-card">
      <div class="number">03</div>
      <div class="service-text">
        <h3>Third Service</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Blanditiis asperiores repudiandae, tenetur voluptatibus nobis
          dolores.
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</section>