
/* Service section */
.about{
    padding: 100px 0;
    text-align: center;
    width: 78%;
    margin: 0 auto;
}

.about h2{
    font-size: 2.5em;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services .service-card{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.services .service-card::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.service-card .number{
    position: relative;
    width: 80px;
    height: 80px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}
.service-card:nth-child(1) a,
.service-card:nth-child(1) .number{
    background: #e91e61;
    box-shadow: 0 0 0 #e91e61;
}

.service-card:nth-child(1):hover .number{
    box-shadow: 0 0 0 400px #e91e61;
}

.service-card:nth-child(2) a,
.service-card:nth-child(2) .number{
    background: #23e627;
    box-shadow: 0 0 0 #23e627;
}

.service-card:nth-child(2):hover .number{
    box-shadow: 0 0 0 400px #23e627;
}

.service-card:nth-child(3) a,
.service-card:nth-child(3) .number{
    background: #2196f4;
    box-shadow: 0 0 0 #2196f4;
}

.service-card:nth-child(3):hover .number{
    box-shadow: 0 0 0 400px #2196f4;
}

.service-card .service-text{
    position: relative;
    transition: .5s;
}
.service-card:hover .service-text{
    color: #fff;
}

.service-card:hover .number{
    color: #000;
    background: #fff;
}

.service-card:hover .service-text a{
    background: #fff;
}

.service-text h3{
    margin: 20px 0;
}
.service-text a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    font-weight: 500;
    transition: .5s;
}
