<div class="containerr">
    <div class="title-container">
        <span class="dot">●</span>
        <span class="title">Categories</span>
        <span class="dot">●</span>
    </div>
</div>


<div class="container bootstrap snippets bootdeys">
    <div class="row">
      <div *ngFor="let category of categories; let i = index" class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow" >
          <div class="card card-just-text"style="width:30vw" [attr.data-background]="'color'" [attr.data-color]="getCardColor(i)" data-radius="none">
            <div class="content">
              <h6 class="category">{{ category.name }}</h6>
              <br>
              <p class="description">{{ category.description }}</p>
            </div>
          </div> <!-- end card -->
        </div>
      </div>
    </div>
  </div>
  