html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.most-height {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-image {
  background-image: url('/assets/images/pexels-stywo-1261728.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px; /* Add some padding to the content */
  overflow-y: auto; /* Allow vertical scrolling if needed */
  flex: 1; /* Makes sure content takes the remaining space */
}

app-footer {
  height: 290px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  
  bottom: 0;
    width: 100%;
  z-index: 1;
}
