.navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: #fff;
  }
  
  @media (max-width: 992px) {
   .navbar-nav.nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .navbar
  {
    background-color: #042521;
  }