<div class="CateCard">
<div class="card">
  <p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex">
    <p-tabPanel *ngFor="let category of categories; let i = index">
      
      <ng-template pTemplate="header">
        
        <div class="flex align-items-center gap-2" (click)="onTabClick(i, category)">
          <span 
            class="font-bold white-space-nowrap m-0 category-name"
            [ngClass]="{'selected-category-name': activeIndex === i}"
          >
            {{ category.name }}
          </span>
          <p-badge [value]="category.count" styleClass="ml-2"></p-badge>
        </div>
     
      </ng-template>

      <div class="CateCard">
      <div class="category-content">
        <p class="category-description">
          {{ category.description }}
        </p>
        <img [src]="getCategoryImage(category.name)" class="category-image" />
      </div>
    </div>
    </p-tabPanel>
  </p-tabView>
</div>
</div>
