.navbar{  
  border-radius: 50px;
  margin: 25px;
  

}
.navbar-toggler-icon{
  color: #10B981 ;
}
.navbar-nav {
  flex: 1;
  justify-content: center;
  
}

.navbar .navbar-collapse {
  justify-content: center;
}

.navbar .navbar-brand {
  margin-right: auto;
}

.navbar .d-flex {
  margin-left: auto;
}

/* Apply border-radius to individual nav links */
.navbar-nav .nav-item .nav-link {
  
  border-radius: 30px;
  padding: 8px 16px; /* Adjust padding for better look */
  margin-right: 40px; /* Adjust margin between links */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Optional: Add hover effect for nav links */
.navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Example hover background color */
}
  .navbar.scrolled {
    background-color: rgb(4, 37, 33); 
   
  }
  