<section style="width: 50%;"   >
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <form [formGroup]="forgotpass" (ngSubmit)="forgot()" id="regForm">
                    <h1 id="register">Forgot Password</h1>
                    <div >
                      <h3>Enter Your Email</h3>
                        <p><input formControlName="email" placeholder="email" oninput="this.className = ''" name="fname"></p>
                    </div>
                    <div *ngIf="forgotpass.get('email')?.getError&& forgotpass.get('email')?.touched" style="margin-bottom: 10px;">
                        <span style="color: red;" *ngIf="forgotpass.get('email')?.getError('email')">Invalid email</span>
                        <span style="color: red;" *ngIf="forgotpass.get('email')?.getError('required')">Email is required</span>
                    </div>
                    <button [disabled]="forgotpass.invalid" >Send Email</button>
                </form>
            </div>
        </div>
    </div>
</section>
