html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  body {
    min-height: 3000px; /* Ensure the body is tall enough to require scrolling */
    display: flex;
  }
  
  .bg-image {
    background-image: url('/src/assets/images/pexels-stywo-1261728.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: fixed; /* Use fixed to ensure it stays in place while scrolling */
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .content {
    position: relative;
    z-index: 1;
  }
  .most-height{
    flex-grow:1;
  }