    <section class="hero-container">

      <div class="content">
        <div class="blobback"></div>

        <h2><span class="diff">Protecting</span> </h2>
      <h2>
         Your Home, Auto, and Future
      </h2>
        <div>
          <button class="btn" (click)="getscrolly('services')">
            <i class="fa-regular fa-circle-play"></i> Our Services
          </button>
          <button class="btn-outline" (click)="getscrolly('steps')">Steps</button>
        </div>
      </div>

      <div>
        <div class="blob"></div>
      </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="none" stroke="#10b981" stroke-opacity="0.7" stroke-width="5" d="M0,320L30,288C60,256,120,192,180,181.3C240,171,300,213,360,213.3C420,213,480,171,540,149.3C600,128,660,128,720,133.3C780,139,840,149,900,154.7C960,160,1020,160,1080,160C1140,160,1200,160,1260,165.3C1320,171,1380,181,1410,186.7L1440,192" />     
    </svg>
    
    
    
     